*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imgs/matric_button.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(252, 252, 252), alpha);
}

.logo span{
    color: rgb(238, 56, 11);
    font-weight: bold;
    font-weight: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6 ease;
}

ul li a:hover{
    background: #fff;
    color: #000;

}

ul li.active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre h1{
    color: #fff;
    font-size: 70px;
}

.titre span{
    color: rgb(238, 56, 11);
    font-weight: bold;
    font-weight: 2rem;
}

.bouton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.bouton a{
    color: #fff;
    text-decoration: none;
    border: 5px solid #fff;
    padding: 15px 30px;
    transition: 0.5;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1)
}

.bouton a:hover{
    background-color: #fff;
    color: #000;
    transform: rotate(5deg)
}

.bouton i{
    margin-right: 5px
}
